@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E6D6B8;
  --foreground: #4D4D4D;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header-bg {
  background-color: #a26952;
  color: #F5EAD6;
}

.text-color-pallete {
  color:#a26952 ;
}